// frontend/src/assets/styles/variables.scss
// Cores principais
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$success-color: var(--success-color);
$info-color: var(--info-color);
$warning-color: var(--warning-color);
$danger-color: var(--danger-color);

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Mixins úteis
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin responsive($breakpoint) {
    @if $breakpoint ==sm {
        @media (min-width: $screen-sm) {
            @content;
        }
    }

    @if $breakpoint ==md {
        @media (min-width: $screen-md) {
            @content;
        }
    }

    @if $breakpoint ==lg {
        @media (min-width: $screen-lg) {
            @content;
        }
    }

    @if $breakpoint ==xl {
        @media (min-width: $screen-xl) {
            @content;
        }
    }
}